@media screen and (min-device-width: 501px) {
    /* All */
    *,
    *:after,
    *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
    }
    .clear {
        clear: both;
    }
    /* Nav Bar */
    .navframe {
        width: 1007px;
        margin: 0 auto;
    }
    .nav {
        position: relative;
    }
    .navlogo a img {
        width: 19%;
        height: auto;
        margin-top: 10px;
        margin-left: 10px;
        float: left;
    }
    .itemnav {
        float: right;
        position: absolute;
        bottom: 20%;
        right: 0;
    }
    .navitem {
        float: right;
        text-align: center;
        margin-right: 35px;
    }
    .navitem a {
        font-size: 19px;
        font-weight: bold;
        color: #005CAF;
        font-family: sans-serif;
        text-shadow: 1.5px 1.5px 2px #BDC0BA;
    }
    .navitem a:hover {
        text-shadow: 0px 0px 0px #78C2C4;
    }
    .navitem span {
        margin-right: 5px;
    }
    #navproductitems {
        display: none;
    }
    #navicon {
        display: none;
    }
    #naviconlist {
        display: none;
    }
    /* Product Nav */
    .productnavframe {
        width: 1007px;
        margin: 0 auto;
    }
    .productnav {
        height: 45px;
        line-height: 45px;
        background-color: #FFB11B;
    }
    .productnavitem {
        float: left;
        text-align: center;
        margin: 0 auto 0 35px;
    }
    .productnavitem a {
        font-size: 19px;
        font-weight: bold;
        color: #005CAF;
        font-family: sans-serif;
    }
    .productnavitem a:hover {
        text-shadow: 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff;
    }
    /* News Content */
    .container {
        /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
        width: 90%;
        max-width: 1170px;
        margin: 0 auto;
    }
    .container::after {
        /* clearfix */
        content: '';
        display: table;
        clear: both;
    }
    /* -------------------------------- 

Main components 

-------------------------------- */
    #timeline {
        position: relative;
        padding: 2em 0;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #timeline::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #BED9ED;
    }
    .timelineblock {
        position: relative;
        margin: 2em 0;
    }
    .timelineblock:after {
        content: "";
        display: table;
        clear: both;
    }
    .timelineblock:first-child {
        margin-top: 0;
    }
    .timelineblock:last-child {
        margin-bottom: 0;
    }
    .timelineimg {
        position: absolute;
        top: 20px;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #FFB11B, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    }
    .timelineimg span {
        /*display: block;
        /* width: 24px;
        height: 24px;*/
        position: relative;
        left: 50%;
        top: 45%;
        margin-left: -12px;
        margin-top: -12px;
        font-size: 20px;
        color: white;
    }
    .timelineimg.picture1 {
        background: #005CAF;
    }
    .timelineimg.picture2 {
        background: #02A8AB;
    }
    .timelinecontent {
        position: relative;
        margin-left: 60px;
        background: #D4E8F7;
        border-radius: 0.25em;
        padding: 1em;
        box-shadow: 3px 3px 0 #8BB6D6;
    }
    .timelinecontent:after {
        content: "";
        display: table;
        clear: both;
    }
    .timelinecontent h2 {
        font-weight: bold;
        font-size: 21px;
        color: #303e49;
    }
    .timelinecontent p,
    .timelinecontent .date {
        font-size: 13px;
        font-size: 0.8125rem;
    }
    .timelinecontent .date {
        display: inline-block;
    }
    .timelinecontent p {
        margin: 1em 0;
        line-height: 1.6;
    }
    .timelinecontent img {
        display: block;
        padding: 15px;
    }
    .timelinecontent .date {
        float: left;
        padding: .8em 0;
        opacity: .7;
    }
    .timelinecontent::before {
        content: '';
        position: absolute;
        top: 31px;
        right: 100%;
        height: 0;
        width: 0;
        border: 9px solid transparent;
        border-right: 9px solid #D4E8F7;
    }
    /* Footer */
    .footer1 {
        height: 50px;
        background: #B3B3B3;
    }
    .footer2 {
        height: 40px;
        background: #7A7A7A;
        text-align: center;
    }
    .footerframe {
        width: 1007px;
        margin: 0px auto 0 auto;
        padding: 0 40px;
    }
    .footerin {
        width: 80%;
        margin: 0 auto;
    }
    .footercontent {
        float: left;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        font-family: sans-serif;
        line-height: 50px;
    }
    .footercontact a {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        font-family: sans-serif;
        line-height: 50px;
    }
    .footercontent span {
        margin-right: 5px;
    }
    .footercontact span {
        margin-right: 5px;
    }
    #fax {
        margin-left: 50px;
        margin-right: 50px;
    }
    .footerlogo {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        font-family: sans-serif;
        line-height: 40px;
    }
}

@media screen and (max-device-width: 480px) {
    /* All */
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
    }
    .clear {
        clear: both;
    }
    /* Nav Bar */
    .navframe {
        width: 320px;
        margin: 0 auto;
    }
    .nav {
        width: 100%
    }
    .navlogo a img {
        width: 50%;
        height: auto;
        margin: 5px 0 0 5px;
    }
    .itemnav {
        margin-left: 0px;
    }
    .navitem {
        text-align: center;
        margin-right: 8px;
        float: right;
    }
    .navitem a {
        font-size: 13px;
        font-weight: bold;
        color: #005CAF;
        font-family: sans-serif;
        text-shadow: 1px 1px 3px #BDC0BA;
    }
    .navitem a:hover {
        text-shadow: 0px 0px 0px #78C2C4;
    }
    .navitem span {
        margin-right: 3px;
    }
    #navproduct {
        position: relative;
    }
    /*#navproduct:hover>#navproductitems {
        display: block;
    }
    #navproductitems {
        width: 100px;
        text-align: left;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        top: 24px;
        left: -1px;
        border-left: 1px solid silver;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
        box-shadow: 2px 2px 2px rgba(20%, 20%, 40%, 0.6), 3px 3px 4px rgba(20%, 20%, 40%, 0.4), 4px 4px 8px rgba(20%, 20%, 40%, 0.4);
        display: none;
    }
    .navproductitem {
        margin: 2px 5px 0 5px;
        border-bottom: 1px solid silver;
    }
    .navproductitem a {
        text-shadow: 0px 0px 0px;
    }
    .navproductitem a:hover {
        text-shadow: 0px 0px 0px;
        color: rgb(255, 175, 25);
    }*/
    #iconproductlist {
        display: none;
        margin-left: 10px;
        position: relative;
        top: 0px;
        overflow: hidden;
        height: 255px;
    }
    .iconproduct {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #iconproduct1 {
        padding-top: 30px;
    }
    .iconproduct a {}
    /*navicon*/
    #navicon {
        display: block;
        font-size: 35px;
        font-weight: bold;
        color: #005CAF;
        position: absolute;
        right: 5%;
        top: 20px;
        z-index: 4;
    }
    @keyframes iconproduct1back {
        0% {
            padding-top: 30px;
        }
        100% {
            padding-top: 0px;
        }
    }
    @keyframes iconproduct1go {
        0% {
            padding-top: 0px;
        }
        100% {
            padding-top: 30px;
        }
    }
    @keyframes listback {
        0% {
            height: 255px;
        }
        100% {
            height: 0px;
        }
    }
    @keyframes listgo {
        0% {
            height: 0px;
        }
        100% {
            height: 255px;
        }
    }
    @keyframes navanigo {
        0% {
            top: -250px;
        }
        100% {
            top: 65px;
        }
    }
    @keyframes navaniback {
        0% {
            top: 65px;
        }
        100% {
            top: -250px;
        }
    }
    @keyframes navicongo {
        0% {
            right: 5%;
            color: #005CAF;
            transform: rotate(0deg);
        }
        95% {
            right: 34%;
            color: #113285;
            transform: rotate(90deg);
        }
        100% {
            right: 34%;
            color: #113285;
            transform: rotate(90deg);
        }
    }
    @keyframes naviconback {
        0% {
            right: 34%;
            color: #113285;
            transform: rotate(90deg);
        }
        90% {
            right: 5%;
            color: #005CAF;
            transform: rotate(0deg);
        }
        100% {
            right: 5%;
            color: #005CAF;
            transform: rotate(0deg);
        }
    }
    #iconremove {
        font-size: 28px;
        font-weight: bold;
        color: grey;
        position: absolute;
        right: 5%;
        top: 10px;
    }
    .mask {
        display: none;
        position: fixed;
        width: 100%;
        bottom: 0px;
        height: 100%;
        background-color: white;
        opacity: 0.5;
        z-index: 1;
    }
    #naviconlist {
        display: none;
        width: 65%;
        background-color: #CCE0E8;
        position: fixed;
        top: 65px;
        right: 5%;
        z-index: 3;
    }
    .naviconlistitem {
        margin: 25px 0 30px 10px;
        z-index: 3;
    }
    .naviconlistitem a {
        font-weight: bold;
        font-size: 18px;
        font-family: sans-serif;
        color: #113285;
        padding: 10px;
    }
    .naviconlistitem a:hover {
        border-radius: 8px;
        background-color: #005CAF;
        color: white;
    }
    /*products nav*/
    .productnavframe {
        width: 320px;
        margin: 0 auto;
    }
    .productnav {
        height: 28px;
        line-height: 28px;
        background-color: #FFB11B;
        display: none;
    }
    .productnavitem {
        float: left;
        text-align: center;
        margin: 0 auto 0 2px;
    }
    .productnavitem a {
        font-size: 8px;
        font-weight: bold;
        color: #005CAF;
        font-family: sans-serif;
    }
    .productnavitem a:hover {
        text-shadow: 0px 0px 30px #fff, 0px 0px 30px #fff, 0px 0px 30px #fff;
    }
    /* News Content */
    .container {
        /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
        width: 90%;
        max-width: 1170px;
        margin: 0 auto;
    }
    .container::after {
        /* clearfix */
        content: '';
        display: table;
        clear: both;
    }
    /* -------------------------------- 

Main components 

-------------------------------- */
    #timeline {
        position: relative;
        padding: 2em 0;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #timeline::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #BED9ED;
    }
    .timelineblock {
        position: relative;
        margin: 2em 0;
    }
    .timelineblock:after {
        content: "";
        display: table;
        clear: both;
    }
    .timelineblock:first-child {
        margin-top: 0;
    }
    .timelineblock:last-child {
        margin-bottom: 0;
    }
    .timelineimg {
        position: absolute;
        top: 20px;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #FFB11B, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    }
    .timelineimg span {
        /*display: block;
        /* width: 24px;
        height: 24px;*/
        position: relative;
        left: 50%;
        top: 45%;
        margin-left: -12px;
        margin-top: -12px;
        font-size: 20px;
        color: white;
    }
    .timelineimg.picture1 {
        background: #005CAF;
    }
    .timelineimg.picture2 {
        background: #02A8AB;
    }
    .timelinecontent {
        position: relative;
        margin-left: 60px;
        background: #D4E8F7;
        border-radius: 0.25em;
        padding: 0.6em;
        box-shadow: 3px 3px 0 #8BB6D6;
    }
    .timelinecontent:after {
        content: "";
        display: table;
        clear: both;
    }
    .timelinecontent h2 {
        font-weight: bold;
        font-size: 21px;
        color: #303e49;
    }
    .timelinecontent p,
    .timelinecontent .date {
        font-size: 13px;
        font-size: 0.8125rem;
    }
    .timelinecontent .date {
        display: inline-block;
    }
    .timelinecontent p {
        margin: 1em 0;
        line-height: 1.6;
    }
    .timelinecontent img {
        display: block;
        padding-top: 10px;
        max-width: 260px;
        max-height: auto;
    }
    .timelinecontent .date {
        float: left;
        padding: .8em 0;
        opacity: .7;
    }
    .timelinecontent::before {
        content: '';
        position: absolute;
        top: 31px;
        right: 100%;
        height: 0;
        width: 0;
        border: 9px solid transparent;
        border-right: 9px solid #D4E8F7;
    }
    /* Footer */
    .footer1 {
        background: #BFBFBF;
    }
    .footer2 {
        background: #7A7A7A;
        text-align: center;
    }
    .footerframe {
        width: 320px;
        margin: 0px auto 0 auto;
        padding: 0 10px;
    }
    .footerin {
        width: 80%;
        margin: 0 auto;
    }
    .footercontent {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        font-family: sans-serif;
        line-height: 50px;
    }
    .footercontact {
        display: none;
    }
    .footercontact a {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        font-family: sans-serif;
        line-height: 50px;
    }
    .footercontent span {
        margin-right: 5px;
    }
    .footerlogo {
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        font-family: sans-serif;
        line-height: 40px;
    }
}

@media screen and (max-device-width: 370px) {
    .timelinecontent img {
        display: block;
        padding-top: 10px;
        max-width: 210px;
        max-height: auto;
    }
}


/*
.newscontent {}
    .newscontentframe {
        width: 80%;
        max-width: 1007px;
        margin: 0 auto;
    }
    .newsbanner {
        padding: 20px 0 0 20px;
    }
    .newsitem {
        background-image: url(../../../../../../Chris/Desktop/timeline.png);
        height: 600px;
        background-repeat: no-repeat;
    }
    .newstitle {
        font-size: 24px;
        font-weight: bold;
        font-family: sans-serif;
        padding: 20px 0 10px 150px;
    }
    .newscontent {}
    .newsimg {
        padding-left: 150px;
    }
    .newstext {}
    .newscontentframe >div::before {
        content: '';
        position: absolute;
        top: 130px;
        left: 100px;
        height: 100%;
        width: 4px;
        background: #d7e4ed;
    }
 */
