* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.clear {
    clear: both;
}

.container {
    background-color: #F0E495;
    width: 60%;
}

.text {
    margin: 0px;
    display: inline;
    width: 90%;
    background-color: #F0E495;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 20px;
    font-family: Microsoft JhengHei, Arial, Helvetica, sans-serif;
}

.checkbox {
    margin: 10px;
    display: inline;
}

br {
    margin: 0px;
    padding: 0px;
    height: 1px;
    border: none;
    border-top: 1px solid black;
}

.content {
    padding-top: 5px;
}

.title {
    height: 35px;
}

.title p {
    margin: 5px 0 0 5px;
    font-size: 30px;
    display: inline;
    line-height: 35px;
}

#add {
    float: right;
    margin: 5px 0px 5px 10px;
}

#save {
    float: right;
    margin: 5px 5px 5px 5px;
}
